{% extends 'home/base.html' %}

{% block title %}
About us
{% endblock title %}

{% block css %}
<style>
    img{
        width: 75vw;
        height: 50vh;
    }
    blockquote {
    font-family: Georgia, serif;
    position: relative;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
}
blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}
</style>
{% endblock css %}

{% block aboutActive %}
active
{% endblock aboutActive %}

{% block body %}
<div class="container">
<h1 class="my-2" style="text-align: center;">About Us </h1>
   
    <blockquote style="text-align: center; font-size: 1.2rem;">
        <span style="font-size: 1.3rem;">Owner - </span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quos aut consequuntur consequatur aspernatur sint, voluptate unde eius. Cum accusamus placeat 
    </blockquote>

<img src="/media/static/test.jpg" alt="">
</div>
<br>
<br>
<br>
<div class="container">
<div class="row">
    <div class="col-md-6">
    <p> <h3>Lorem ipsum dolor sit amet</h3> consectetur adipisicing elit. Illo, nemo consequatur? Officia ut exercitationem repellendus, eveniet dolor numquam perspiciatis molestiae magni vitae molestias. Voluptate quam magni tempore tempora reprehenderit placeat quis repellendus perspiciatis unde? Lorem ipsum sit amet consectetur adipisicing elit. Ratione saepe optio eveniet natus at vitae exercitationem consectetur tenetur assumenda deserunt blanditiis veniam in fugit rerum sequi atque dolor est quos deleniti, molestiae illum culpa amet maxime! Nesciunt tempor at error placeat optio aliquam. Blanditiis eius deserunt illum repellendus?</p>
    </div>
    <div class="col-md-6 "><img style="height: 50vh; width: 45vw;" src="/media/static/test.jpg" alt=""></div>
    </div>
    </div>
   
    
{% endblock body %}