{% extends 'home/base.html' %}

{% block title %}
Bike Rider
{% endblock title %}

{% block css %}

{% endblock css %}

{% block body %}
<div class="container">
<h1 class="my-3" style="text-align: center;">{{event.heading}}</h1>

<div class="row">
<img src="/media/{{event.image}}" style="border-radius: 10%; " class=" col-md-4" alt="">
<div class="col-md-8">
<p >
{{event.content}}
</p>
<h6>Event on: {{event.event_date}}</h6>
<h6>Published on: {{event.publish_date}}</h6>
<h3 >Follow us: </h3>
    <i><a style="font-size: 1.2rem;" href="#">Facebook</a><br>
    <a style="font-size: 1.2rem;"href="#">Twitter</a><br>
    <a style="font-size: 1.2rem;" href="#">Instragram</a></i>
</div>
<div class="fb-like my-3 mx-4"  data-href="http://127.0.0.1:8000/event-read/{{event.id}}" data-width="" data-layout="button" data-action="like" data-size="large" data-share="true"></div>

</div>

</div>
{% endblock body %}